@media screen and (max-width: 700px){
    .Logo{
        padding: 0px;
        padding-left: 10px;
    }
};

@media screen and (min-width: 701px){
    .Logo{
        padding: 10px;
        padding-top: 12px;
        &:hover{
            transform: scale(110%);
            text-shadow: 3px 3px 1px rgb(105, 134, 186);
        }
    }
}